<!doctype html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title }} — {{ site.title }}</title>
  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }} — {{ site.title }}" />
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body class="page">
  {% include "partials/header.njk" %}

  <main class="container">
    <article class="card-page">
      {% import "partials/card-item.njk" as components %}
      {% set card = {
        "data": {
          "title": title,
          "image": image,
          "number": number,
          "questions": questions
        },
        "templateContent": content,
        "fileSlug": page.fileSlug,
        "url": page.url
      } %}
      {{ components.cardItem(card) }}
    </article>
  </main>
  {% include "partials/footer.njk" %}
  <script src="/assets/script.js" defer></script>
</body>
</html>
